<form [formGroup]="userReactiveForm">
    <title mat-dialog-title>{{data.mode}}</title>
    <mat-dialog-content>
        <mat-form-field>
            <input formControlName="userName" matInput placeholder="User name" name="userName">
        </mat-form-field>
        <div></div>
        <div *ngIf="controlIsInvalid('userName')">
            <mat-error>Invalid name</mat-error>
        </div>
        <mat-form-field>
            <input formControlName="userPassport" type="number" matInput placeholder="Passport (10 digit)" name="userPassport">
        </mat-form-field>
        <div></div>
        <div *ngIf="controlIsInvalid('userPassport')">
            <mat-error>Invalid Passport</mat-error>
        </div>
        <mat-form-field>
            <input formControlName="userDate" matInput type="date" placeholder="Day of birth" name="userDate">
        </mat-form-field>
        <div></div>
        <div *ngIf="controlIsInvalid('userDate')">
            <mat-error>Invalid date</mat-error>
        </div>
        <mat-form-field>
            <input formControlName="userAddress" matInput placeholder="User address" name="userAddress">
        </mat-form-field>
        <div></div>
        <div *ngIf="controlIsInvalid('userAddress')">
            <mat-error>Invalid passport</mat-error>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="onCloseClick()">Close</button>
        <button mat-button mat-raised-button (click)="onAcceptClick()" color="primary">Done</button>
    </mat-dialog-actions>
</form>