.login-form-flex {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
  }
  
.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

mat-spinner {
  margin: 0 auto;
  zoom: 50%;
}

input.ng-touched.ng-invalid {
  border-color: red;
}
