<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>
      <a mat-button routerLinkActive="active" routerLink="/home">
        <mat-icon>local_library</mat-icon>
        Library
      </a>
      <a mat-button routerLinkActive="active" routerLink="/authors">Authors</a>
      <a mat-button routerLinkActive="active" routerLink="/books">Books</a>
      <a mat-button routerLinkActive="active" routerLink="/book-editions">Book editions</a>
      <a mat-button routerLinkActive="active" routerLink="/cotbs">Copy of the books</a>
      <a mat-button routerLinkActive="active" routerLink="/pub-houses">Publishing houses</a>
      <a mat-button routerLinkActive="active" routerLink="/lib-deps">Library departments</a>
      <a mat-button routerLinkActive="active" routerLink="/users">Users</a>
    </span>
    <span class="spacer"></span>
    <a *ngIf="!isAuth; else notAuth" mat-button routerLinkActive="active" routerLink="/login">Login</a>
    <ng-template #notAuth>
      <a mat-button (click)=logout()>Logout</a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>