<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>
      <a mat-button routerLinkActive="active" routerLink="">
        <mat-icon>local_library</mat-icon>
        Library
      </a>
      <a mat-button routerLinkActive="active" routerLink="/authors">Authors</a>
      <a mat-button routerLinkActive="active" routerLink="/books">Books</a>
      <a mat-button routerLinkActive="active" routerLink="/book-editions">Book editions</a>
      <a mat-button routerLinkActive="active" routerLink="/cotbs">Copy of the books</a>
      <a mat-button routerLinkActive="active" routerLink="/pub-houses">Publishing houses</a>
      <a mat-button routerLinkActive="active" routerLink="/lib-deps">Library departments</a>
      <a mat-button routerLinkActive="active" routerLink="/users">Users</a>
    </span>
    <span class="spacer"></span>
    <a *ngIf="!isAuth; else notAuth" mat-button routerLinkActive="active" routerLink="/login">Login</a>
    <ng-template #notAuth>
      <button mat-button [matMenuTriggerFor]="userMenu">
        {{getName()}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <p mat-menu-item disabled>Roles: {{getUserRoles()}}</p>
        <a mat-menu-item (click)=logout()>Logout</a>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<div style="min-width: 1000px; min-height: 600px;">
  <router-outlet></router-outlet>
</div>